*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right, #9eefe1, #ce9ffc);
}

.wrapper ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.wrapper ul li{
    list-style: none;
}